.bottom-nav {
  display: flex;
  padding: 0 24px;
  justify-content: center;
  align-items: flex-start;
  background: rgba(247, 247, 247, 0.95);
  backdrop-filter: blur(20px);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 66px;
  border-top: 0.5px solid var(--secondary-neutral-200);
}

.bottom-nav-content {
  display: flex;
  padding: 8px 0;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
  flex: 1;
  max-width: 100%;
}

.bottom-nav-tab {
  display: flex;
  padding: 5px 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  background: transparent;
  cursor: pointer;
  position: relative;
  transition: transform 0.2s;
}

.bottom-nav-tab:active {
  transform: scale(0.95);
}

.bottom-nav-tab span {
  color: var(--secondary-neutral-500);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.25;
  margin-top: 4px;
}

.bottom-nav-label-active {
  color: var(--primary-blue-500) !important;
  font-weight: 500 !important;
  line-height: 1.3 !important;
}

.bottom-nav-selection {
  position: absolute;
  width: 113px;
  height: 51px;
  border-radius: 100px;
  background: var(--accent-blue-5);
  z-index: -1;
}
