.notification-banner {
  display: flex;
  padding: 12px 16px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 8px;
  border: 0 solid var(--secondary-neutral-200);
  background: var(--secondary-white);
  cursor: pointer;
  transition: all 0.2s;
  width: 100%;
  text-align: left;
}

.notification-banner:hover {
  transform: translateY(-1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.notification-banner-active {
  border: 1px solid var(--primary-blue-500);
  box-shadow: 0 1px 2px -1px rgba(13, 162, 231, 0.10), 0 1px 3px 0 rgba(13, 162, 231, 0.10);
}

.notification-banner-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex: 1;
}

.notification-banner-title {
  color: var(--secondary-neutral-900);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.3;
}

.notification-banner-description {
  color: var(--secondary-neutral-500);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3;
}
