.tabs {
  display: flex;
  padding: 8px 16px;
  align-items: flex-start;
  gap: 24px;
  overflow-x: auto;
  background: var(--secondary-white);
  -webkit-overflow-scrolling: touch;
}

.tabs::-webkit-scrollbar {
  display: none;
}

.tab {
  display: flex;
  padding: 8px 12px;
  align-items: center;
  gap: 8px;
  background: transparent;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  white-space: nowrap;
  transition: border-color 0.2s;
}

.tab span {
  color: var(--secondary-neutral-500);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
}

.tab-active {
  border-bottom-color: var(--primary-blue-500);
}

.tab-active span {
  color: var(--secondary-neutral-900);
  font-weight: 500;
}
